* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* @import / */

html {
  /* font-family: Barkentina; */
  /* height: 100%; */
  font-size: 20px;
}

/* body {} */

/* button {} */
